<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="./sources/icons/site_icon.png" type="image/png">
        <title>Жиглевич</title>
        <script src="./libralies/konva/konva.js"></script>
        <script src="./libralies/vue/vue.js"></script>
        <script async src="./scripts/get_data.js"></script>
        <script defer src="./scripts/render_map.js"></script>
        <script defer src="./scripts/render_card_and_big_image.js"></script>
        <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    </head>
    <body>
    <header class="header">
        <h1 class="headline headline_position_center header__headline headline_font-size_48px"><span class="red-text"><a name="home">Икона Жиглевича:</span> взгляни на историю</a></h1>
        <p class=" paragraph header__paragraph">
            Когда-то у одного неизвестного художника появилась идея: запечатлеть весь свой город 
            во времена его жизни на одном куске холста. На иконе поместилось несколько десятков зданий, 
            многие из которых сейчас явлются культурным наследием Пскова. Часть из них мы никогда 
            не увидим, но многие пережили всю бурную историю нашей страны. Предлагаю Вам не 
            только получить удовольствие от просмотра карты, но и сравнить Псков сегодняшний и 
            тот древний среневековый город с тем же названием. 
        </p>
        <div class="banner header__banner"></div>
        <nav class="nav header__nav" id="nav">
            <ul class="nav__points">
                <li class="nav__point nav__point_focused"><a class="nav__link" href="#home">главная</a></li>
                <li class="nav__point nav__point_focused"><a class="nav__link" href="#about-icon">об иконе</a></li>
                <li class="nav__point nav__point_focused"><a class="nav__link" href="#map">икона</a></li>
                <li class="nav__point nav__point_focused"><a class="nav__link" href="#about-project">о проекте</a></li>
            </ul>
        </nav>
        <script>
            var nav = document.getElementById('nav');
            var navSourceBottom = nav.getBoundingClientRect().bottom + window.pageYOffset;
            window.onscroll = function() {
                if (nav.classList.contains('nav_fixed') && window.pageYOffset < navSourceBottom) {
                    nav.classList.remove('nav_fixed');
                } else if (window.pageYOffset > navSourceBottom) {
                    nav.classList.add('nav_fixed');
                }
            };
        </script>
    </header>
    <a name="about-icon"></a>
    <article class="about-icon page__about-icon">

        <h2 class="headline headline_position_center about-icon__headline headline_font-size_36px">
                <span class="red-text">Об иконе:</span> история
        </h2>
        <div class="flex-container">
        <img сlass="about-icon__picture" src="map.jpg">
        <div class="about-icon__text">
            <p class="paragraph about-icon__paragraph">
                Одним из немаловажных вопросов изучения 
                древнерусского зодчества все еще остается 
                вопрос о сложении архитектурных композиций 
                древнейших городов Руси, вопрос выявления 
                основных закономерностей этого живого 
                динамичного процесса, а также поэтапной 
                характеристики самих городских ансамблей 
                от их зарождения до заключительного периода 
                их развития, приходящегося, как правило, 
                на вторую половину XVII столетия.
            </p>
            <p class="paragraph about-icon__paragraph">
                Икона позволяет составить более полное 
                представление о характере городского 
                ансамбля Пскова в последней четверти 
                XVII века. Она была задумано художником 
                как своеобразный реально-исторический 
                фон, на котором развертываются легендарные 
                события весьма популярного в средневековом 
                Пскове "Сказания о явлении Божией матери 
                кузнецу Дорофею" во время осады Пскова 
                польским королем Стефаном Баторием в 1581 
                году.
            </p>
            <p class="paragraph about-icon__paragraph">
                Икона Жиглевича была ранее упомянута Н. 
                Окулич-Казариным в его известной книге о 
                Пскове; тогда же была сделана и попытка 
                ее воспроизведения, однако весьма неудачная 
                в типографском отношении. При этом никакой 
                расшифровки изображенных на иконе зданий 
                сделано не было. За этой иконой утвердилось 
                условное название "икона Жиглевича", так как 
                некогда она находилась в псковском Гостином 
                дворе, возле лавки купца И. И. Жиглевича. 
                Размер иконы 68 * 60 см.
            </p>
            <p class="paragraph about-icon__paragraph">
                О времени написания иконы можно сказать 
                следующее. В настоящем своем виде ее 
                живописная поверхность может быть отнесена 
                лишь к первой половине XIX века. 
                Окулич-Казарин указывал (ссылаясь на 
                слова очевидцев) на надпись на оборотной 
                стороне иконы о поновлении ее в 1838 
                году. Возникает вопрос: представляет 
                ли собой "икона Жиглевича" лишь точную 
                копию с более древнего утраченного 
                памятника или все же является, хотя 
                и поновленным (то есть прописанным в 
                XIX веке), но оригиналом конца XVII 
                века? Данные чисто технологического 
                порядка (характер обработки иконной 
                доски и тип грунта) и в особенности 
                сама манера живописи указывают на то, 
                что памятник является позднейшей копией с 
                несохранившейся иконы конца XVII века и 
                что под упомянутым Окулич-Казариным поновлением 
                иконы в 1838 году следует понимать или 
                же написание в это время новой иконы по 
                достаточно точно снятому с древнего 
                оригинала "переводу" (прориси) его 
                графической композиции, или же поновление 
                (пропись) "списка" с памятника XVII века, 
                но "списка" все равно позднейшего - 
                вероятно, не древнее середины XVIII века.
            </p>
            <p class="paragraph about-icon__paragraph">
                О достаточной, по-видимому, адекватности 
                изображений зданий на "иконе Жиглевича" 
                изображениям их на не дошедшем до нас 
                оригинале (то есть о графической точности 
                чертежа) позволяет судить тот факт, что 
                представленные на иконе элементы городского 
                ансамбля не носят более или менее явных 
                следов архитектурно-графических искажений, 
                обычно возникающих в связи с каким-либо 
                непониманием позднейшими поновителями 
                первоначального рисунка. Показанные 
                здания, их характер согласуются с 
                изображениями зданий на плане Пскова 
                1694 года, на Владычней иконе, а также 
                на плане 1740 года и могут быть со 
                значительной степенью достоверности 
                идентифицированы с реальными городскими 
                постройками.
            </p>
            <p class="paragraph about-icon__paragraph">
                Протооригинал "иконы Жиглевича" отражает 
                топографическую ситуацию Пскова 1686 - 
                1689 годов и был создан примерно в этот 
                же период. Несмотря на известную условность 
                всех имеющихся на публикуемом плане 
                изображений, они, в общем, дают верную 
                картину как всего городского ансамбля в 
                целом, так и отдельных городских сооружений 
                (например, у некоторых храмов показано 
                наличие шатровых колоколен, появившихся 
                лишь в XVII веке, показаны типичные 
                псковские звонницы, наличие определенных 
                приделов и притворов). Данная икона 
                представляет интерес не только с точки 
                зрения истории топографии древнего Пскова, 
                но любопытен и тем, что дополнительно 
                знакомит нас, хотя бы и в схематических 
                чертах, с рядом несохранившихся древних 
                культовых сооружений города. Иконный 
                чертеж знакомит и с характером ансамблей 
                Мирожского и Псково-Печерского монастырей 
                на заключительном этапе их средневекового 
                развития.
            </p>
        </div>
        </div>
    </article>
    <a name="map"></a>
    <article class="map page__map">
        <h2 class="headline headline_position_center map__headline headline_font-size_36px">
            <span class="red-text">Икона:</span> Интерактивная карта
        </h2>
        <p class="paragraph notice map_notice">
            Для использования интерактивной карты ваше устройство не подходит.
            Зайдите на этот сайт с устройства с большей диагональю для лучшего просмотра.
            Рекомендуется не менее 10 дюймов.
        </p>

        <div id="root">
            <transition name="show">
            <card key="key" v-if="render_card" v-bind:position="position">
                <headline v-bind:text="rendering.headline"></headline>
                <about head="Район" v-bind:text="rendering.district"></about>
                <about head="Статус" v-bind:text="rendering.status"></about>
                <about head="Адрес" v-bind:text="rendering.adress"></about>
                <photo v-bind:photo="rendering.photo"></photo>
                <close object="render_card"></close>
            </card>    
            </transition>
            <transition name="show">
            <fulllook v-if="render_image" v-bind:photo="rendering.photo">
                <close object="render_image"></close>
            </fulllook>
            </transition>
        </div>
            <div id="container">
            </div>
    </article>

    <article class="about-progect page__about-progect">
        <a name="about-project"></a>
        <h2 class="headline headline_font-size_36px headline_position_center"><span class="red-text">О</span> проекте</h2>
        <p class="paragraph about-project__paragraph">
            Ресурс был создан в рамках индивидуального проекта.
        </p>
        <p class="paragraph about-project__paragraph">Все фотографии, которые были использованы, принадлежат автору проекта.</p>
        <p class="paragraph about-project__paragraph">Шрифты, библиотеки и т.п. ввзяты из открытых источников и распространяются в рамках opensource.</p>
        <p class="paragraph about-project__paragraph">В качестве основного источника информации использовался сайт
        <a class="link" target="blank" href="http://architecture.artyx.ru/books/item/f00/s00/z0000006/st013.shtml">
        architecture.artyx.ru</a>.</p>
        <p class="paragraph about-project__paragraph">Отдельно хочу выразить благодарность своему другу 
        <a class="link" target="blank" href="https://vk.com/kmiziz_man">Арсению Кмицицу</a> за помощь в создании проекта.</p>
    </article>
    <article class="footer flex-container page__footer">
        <a class="link" href="https://vk.com/lrmpsm" target="blank"><img class="footer__icon" src="./sources/icons/vk-logo.png">Автор</a>
        <a class="link" href="mailto:orlov.dmitriy2303@outlook.com" target="blank"><img class="footer__icon" src="./sources/icons/email.png">Почта автора</a>
        <a class="link" href="https://github.com/DmitriyOrlov53/giglevich" target="blank"><img class="footer__icon" src="./sources/icons/github-logo.png">GitHub</a>
        <span>2019 год</span>
    </article>
    </body>
</html>
