@font-face{
    font-family: Play Bold;
    src: url('../sources/fonts/Play/Play-Bold.ttf')
}

@font-face{
    font-family: Open Sans Condensed Light;
    src: url('../sources/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf');
}


body{
    padding: 0;
    margin:0;
    width: 100%;
    box-sizing: border-box;
}

.header{
    width:100%;
    color: #333333;
}
.header__headline{
    margin: 0;
    margin-top: 650px;
}
.header__paragraph{
    width: 1136px/1920px*100%;
    margin: 0;
    margin: auto auto;
    margin-top: 44px;
}
.header__banner{
    margin-top: 100px;
    background-image: url('../sources/pictures/banner.jpg'), linear-gradient(to bottom, #ffffff, transparent, #ffffff,);
    background-blend-mode: overlay;
    margin-bottom: 120px;
}
.header__nav{
    padding: {
        top: 30px;
        bottom: 30px;
    }
}

.headline{
    font-weight: normal;
    font-size: 48px;
    font-family: Play Bold;
}
.headline_position_center{
    text-align: center;
}

.red-text{
    color: #d63c37;
}

.paragraph {
    font-family: Open Sans Condensed Light;
    color: #666666;
    font-size: 18px;
    line-height: 40px;
}

.banner {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.nav {
    text-align: center;
    width: 100%;
    background-color: #ffffffe8;
}
.nav_fixed{
    top: 0;
    position: fixed;
    z-index: 3;
}
.nav__points{
    color:#656565;
    font-family: Open Sans Condensed Light;
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: auto auto;
}
.nav__point{
    display: inline;
    margin: {
        left: 4%;
        right: 4%;
    }
}
.nav__point_focused:hover{
    border-bottom: 5px solid #656565;
}

.about-icon{
    width: 80%;
}
.page__about-icon{
    margin: auto auto;
    margin-top: 400px;
}
.about-icon__headline{
    font-weight: lighter;
    font-size: 36px;
    margin: 0;
    margin-bottom: 100px;

}
.about-icon img{
    width: 40%;
}
.about-icon__text{
    width: 50%;
    margin: 0;
}
.about-icon__paragraph{
    width: 80%;
    box-sizing: content-box;
    padding: 0;
    padding-left: 20px;
    margin: {
        top: 50px;
        bottom: 50px;
    }
    border-left: 5px solid #d63c37;
}

.flex-container{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: content-box;
}

.map{
    width: 100%;
}
.map__headline{
    margin: 0;
    margin-bottom: 300px;
    font-size: 36px;
}
.map__picture{
    position: absolute;
    z-index: 6;
    box-shadow: 50px 50px 50px black;
}

.page__map{
    margin-top: 12vw;
}

#root{
    position: relative;
}

.card{
    width: 30vw;
    position: absolute;
    z-index: 2;
    background-color: #ffffffee;
    max-height: 40vw;
    overflow-y: auto;
}
.card__headline{
    font-size: 36px/1920px*100vw;
    margin-left: 1vw;
}
.card__paragraph{
    margin: 0;
    margin-left: 1vw;
}
.card__photo{
    margin-top: 1vw;
    width: 100%;
    cursor: pointer;
}
.card__button{
    line-height: normal;
    margin-top: 1vw;
}

.button{
    outline: none;
    font-family: Open Sans Condensed Light;
    font-size: 18px/1920px*100vw;
    background-color: #d63c37;
    color: #ffffff;
    border: none;
}


.link{
    all: unset;
}

.fullLook{
    position: fixed;
    height: 40vw;
}
.fulllook__picture{
    width: 100%;
}
.fullLook__close{
    position: relative;
    top: -140%;
    left: 95%;
    width: 5vw;

}




@media screen and (max-width: 1024px) {
    .about-icon img{
        width: 90%;
        margin: {
            left: 55%;
            right: 45%;
        }
    }
    .flex-container{
        flex-direction: column;
    }
    .about-icon__text{
        width: 95%;
    }
    .flex-container{
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 425px){
    .header__paragraph{
        width: 90%
    }
}
@media screen and (max-width: 760px){
    #container{
        display: none;
    }
    .map::after{
        content: 'привет';
        display: block;

        
    }
}