@font-face {
  font-family: Play Bold;
  src: url("../sources/fonts/Play/Play-Bold.ttf");
}

@font-face {
  font-family: Open Sans Condensed Light;
  src: url("../sources/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  color: #333333;
}

.header__headline {
  margin: 0;
  margin-top: 550px;
}

.header__paragraph {
  width: 59.16667%;
  margin: 0;
  margin: auto auto;
  margin-top: 144px;
}

.header__banner {
  margin-top: 100px;
  background-image: url("../sources/pictures/banner.jpg"), -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(transparent), to(#ffffff));
  background-image: url("../sources/pictures/banner.jpg"), linear-gradient(to bottom, #ffffff, transparent, #ffffff);
  background-blend-mode: overlay;
  margin-bottom: 120px;
}

.header__nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

.headline {
  font-weight: normal;
  font-family: Play Bold;
}

.headline_position_center {
  text-align: center;
}

.headline_font-size_48px {
  font-size: 48px;
}

.headline_font-size_36px {
  font-size: 36px;
}

.red-text {
  color: #d63c37;
}

.paragraph {
  font-family: Open Sans Condensed Light;
  color: #666666;
  font-size: 18px;
  line-height: 40px;
}

.banner {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.nav {
  text-align: center;
  width: 100%;
  background-color: #ffffffe8;
}

.nav_fixed {
  top: 0;
  position: fixed;
  z-index: 3;
}

.nav__points {
  color: #656565;
  font-family: Open Sans Condensed Light;
  font-size: 18px;
  list-style-type: none;
  padding: 0;
  margin: auto auto;
}

.nav__point {
  text-decoration: none;
  display: inline;
  margin-left: 4%;
  margin-right: 4%;
}

.nav__point_focused:hover {
  border-bottom: 2px solid #656565;
}

.nav__link {
  all: unset;
}

.about-icon {
  width: 90%;
}

.page__about-icon {
  margin: auto auto;
  margin-top: 400px;
}

.about-icon__headline {
  font-weight: lighter;
  margin: 0;
  margin-bottom: 100px;
}

.about-icon img {
  width: 40%;
}

.about-icon__text {
  width: 50%;
  margin: 0;
}

.about-icon__paragraph {
  width: 80%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0;
  padding-left: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-left: 5px solid #d63c37;
}

.flex-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.map {
  width: 100%;
}

.map__headline {
  margin: 0;
  margin-bottom: 300px;
}

.page__map {
  margin-top: 200px;
  margin-bottom: 600px;
}

#root, #fullLook {
  position: relative;
}

.card {
  position: absolute;
  z-index: 2;
  background-color: #ffffffee;
  max-height: 500px;
  overflow-y: auto;
}

.card__headline {
  margin-left: 20px;
}

.card__paragraph {
  margin: 0;
  margin-left: 20px;
}

.card__photo {
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
}

.card__button {
  line-height: normal;
  margin-top: 10px;
}

.button {
  outline: none;
  font-family: Open Sans Condensed Light;
  font-size: 18px;
  background-color: #d63c37;
  color: #ffffff;
  border: none;
}

.link {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.fullLook {
  width: 80%;
  position: fixed;
  top: 2%;
  left: 10%;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 96%;
  background-color: #ffffffee;
  -webkit-box-shadow: 0px 500px 500px 300px black;
          box-shadow: 0px 500px 500px 300px black;
}

.fulllook__picture {
  width: 100%;
  margin-bottom: 20px;
}

.fullLook__close {
  width: 5vw;
}

.about-progect {
  width: 80%;
}

.about-project__paragraph {
  text-align: center;
}

.page__about-progect {
  margin: auto auto;
}

.page__footer {
  margin-top: 400px;
}

.footer {
  width: 100%;
  background-color: #d63c37;
  min-height: 100px;
  font-family: Open Sans Condensed Light;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
}

.notice {
  display: none;
}

@media screen and (max-width: 1024px) {
  .about-icon img {
    width: 90%;
    margin-left: 55%;
    margin-right: 45%;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-icon__text {
    width: 95%;
  }
  .flex-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .header__paragraph {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .map canvas {
    display: none;
  }
  .notice {
    display: block;
  }
  .page__map {
    margin-bottom: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */